autom4te.cache
aclocal.m4
config.h.in
configure
depcomp
install-sh
missing
src/Makefile.in
Makefile.in
Makefile
config.h
config.log
config.status
src/.deps
src/Makefile
lib/.deps
lib/.libs
stamp*
config.guess
config.sub
ltmain.sh
m4
*.o
*.a
*.so
*.la
*.lo
libtool
src/.libs/

udon2xml
udon_introspect
